body{
    background:lightgray;
    color: white;
}
#header{
    display:flex; 
    justify-content:space-around; 
    gap:20px;
}
#main{
    display:flex; 
    justify-content:center; 
    gap:20px;
}
button{
    height: 35px;
    margin-top: 25px;
}
#feed{
    display:flex; 
    justify-content:center; 
    flex-direction: column;
    margin-top: -200px;
}
#post{
    display: flex;
    flex-direction: column;
}
#post img{
    width: 400px;
    height: 400px;
}
#postHeader{
    display: flex;
    flex-direction: row;
}
#postHeader img{
    width: 40px;
    height: 40px;
    margin-top: 30px;
}
#postHeader p{
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 10px;
}
#likes{
    display: flex;
    justify-content: space-evenly;
}
#count{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 4px;
}
#desc{
    width: 400px;
    margin-top: -4px;
}
#layout{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
h1{
    border-bottom: 2px dotted white;
}
#udate{
    padding-left: 40%;
}
#trending{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
#trending a{
    text-decoration : underline; 
    color : white;
    margin-left:-25px;
}
#stories{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
#stories a{
    text-decoration : underline; 
    color : white;
    font-size: 20px;
}
#stories a img{
    height: 100px;
}