body{
    background:lightgray;
    color: rgba(255, 255, 255, 0.86);
    font-size: 20px;
    text-align: center;
}
#header{
    display:flex; 
    justify-content:space-around; 
    gap:20px;
}
#main{
    display:flex; 
    justify-content:center; 
    gap:20px;
}
button{
    height: 35px;
    margin-top: 25px;
}
.sub{
    background-color: rgb(9, 129, 129);
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}